<!DOCTYPE html>
<html>
  <head>
    <title>Hubs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="text-center">
      <h1>Home</h1>
    </header>
    <%= yield %>
    <footer style="width: 100%; padding: 20px 0;">
      <div class="container text-center" style="max-width: 90%; font-size: 14px;">
        Andrés Zúñiga Hidalgo - 2019
      </div>
    </footer>
  </body>
</html>
