<!DOCTYPE html>
<html>
  <head>
    <title>Hubs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Load per action to reduce page loading of resources as need-only basis -->
    <%= javascript_include_tag params[:action], 'data-turbolinks-track' => true %>

  </head>

  <body>
    <header class="text-center" style="margin-bottom: 50px; padding: 20px; background-color: #e0e0e0;">
      <%= link_to root_path, class: 'a-plain' do %>
        <h1>Home</h1>
      <% end %>
    </header>
    <%= yield %>
    <footer style="width: 100%; padding: 20px 0; margin-top: 50px; background-color: #e0e0e0;">
      <div class="container text-center" style="max-width: 90%; font-size: 14px;">
        Andrés Zúñiga Hidalgo - 2019
      </div>
    </footer>
  </body>
</html>
